<div class="page__content subheader">
	<h1 class="pull-left">Asset Page</h1>
	<%= link_to 'Show All Assets', products_path, :class=>"button pull-right" %>
</div>

<% unless notice.nil? %>
	<div class="alert alert-<%=notice["type"]%> alert-dismissable">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		<p id="notice"><%= notice["message"] %></p>
	</div>
<% end %>

<div class="product-sidebar-left">
	<div class="product-sidebar-item-top">
		<div class="product-sidebar-title">
			<p> <%= @product.name %> </p>
		</div>
		<div class="product-sidebar-value">
			<p> <%= @product.product_type %> </p>
		</div>
	</div>
	<div class="product-action-items">
		<%= link_to 'Edit Asset', edit_product_path(@product), class: "button button--cta action-button" %>
		<%= link_to 'Remove Asset', @product, method: :delete, data: { confirm: 'Are you sure? This action cannot be reversed' }, class: "button button--dngr action-button" %>
	</div>
</div>

<div class="product-link-wrapper">
	<div class="product-link-top">
		<div class="product-tags-container">
			<div class="product-tag new"><%= link_to "Add a Tag", new_product_tag_path(@product) %></div>
			<% @product.tags.each do |tag| %>
				<div class="product-tag">
					<%= link_to (tag.key + "<span class='tag-breaker'>&nbsp;:&nbsp;</span>" + tag.value).html_safe, edit_product_tag_path(@product, tag) %>
				</div>
			<% end %>
		</div>
	</div>

	<div class="product-link-bottom">
		<div class="product-link">
			<div class="product-link-title"> Current Score </div>
			<div class="product-link-label">
				<%= @product.is_assessed ? @product.scores.last.total.round(2) : "0" %>%
			</div>
			<div class="product-link-button">
				<% if @product.is_assessed? %>
					<%= link_to "View Current Score", product_score_path(@product, @product.scores.last), :class=>"button" %>
				<% else %>
					<a href="#" class="button" disabled="true">View Current Score </a>
				<% end %>
			</div>
		</div>
		<div class="product-link">
			<div class="product-link-title"> Total Number of Scores </div>
			<div class="product-link-label">
				<%= @product.is_assessed ? @product.scores.count : "0" %>
			</div>
			<div class="product-link-button">
				<% if @product.is_assessed? %>
					<%= link_to "View all Scores", product_scores_path(@product), :class=>"button"%>
				<% else %>
					<a href="#" class="button" disabled="true">View all Scores</a>
				<% end %>
			</div>
		</div>
		<div class="product-link">
			<% if @product.is_assessed? %>
					<div class="product-link-title"> Re-Evaluate Asset </div>
				<% else %>
					<div class="product-link-title"> Evaluate Asset </div>
				<% end %>
			<div class="product-link-label">+</div>
      <div class="product-link-button">
        <% if @product.is_assessed? %>
          <%= link_to 'Re-Evaluate Asset', new_product_score_path(@product), :class=>"button"%>
        <% else %>
          <% if @product.is_assessable? %>
            <%= link_to 'Evaluate Asset', new_product_score_path(@product), :class=>"button"%>
          <% else %>
            <a href="#" class="button button--disabled" disabled="true">Evaluate Asset</a>
          <% end %>
        <% end %>
      </div>
		</div>
	</div>
</div>

